name: Update Subscription Bot

on:
  schedule:
    - cron: "0 * * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - run: pip install telethon aiohttp

      - run: python monitor_build_bot.py
        env:
          BOT_TOKEN: ${{ secrets.BOT_TOKEN }}

      - name: Commit subscription
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "actions@github.com"
          git add subscription.txt
          git commit -m "Auto update subscription" || echo "No changes"
          git push
